<?xml version="1.0"?>
<robot
  name="msl_skycrane_description">
  <gazebo>
    <!-- ros_control plugin -->
    <plugin name="GazeboRosSkycrane" filename="libgazebo_ros_skycrane.so">
      <robotNamespace>/skycrane</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>CmdMotorPower</topicName>
    </plugin>

    <plugin name="GazeboRosImu" filename="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate> 
      <bodyName>imu_link</bodyName>
      <frameId>imu_link</frameId>
      <topicName>/skycrane/IMU/data</topicName>
      <gaussianNoise>2.89e-08</gaussianNoise>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
      <!-- <interface:position name="imu_position"/> -->
      <material>Gazebo/Red</material>
    </plugin>
    
    <plugin name="GazeboRosGps" filename="libhector_gazebo_ros_gps.so">
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <frameId>base_link</frameId>
      <topicName>/skycrane/GPS/data</topicName>
      <serviceName>/default_imu</serviceName>
      <velocityTopicName>/skycrane/GPS/vel</velocityTopicName>
      <gaussianNoise>2.89e-08 2.89e-08 2.89e-08</gaussianNoise>
      <velocityGaussianNoise>2.89e-08 2.89e-08 2.89e-08</velocityGaussianNoise>
    </plugin>

    <plugin name="GazeboRosBarometer" filename="libhector_gazebo_ros_baro.so">
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <frame_id>base_link</frame_id>
      <robotNamespace>/skycrane</robotNamespace>
      <gaussianNoise>2.89e-08</gaussianNoise>
      <topicName>pressure_height/data</topicName>
    </plugin>

    <plugin name="GazeboRosMagnetic" filename="libhector_gazebo_ros_magnetic.so">
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/skycrane/magnetic/data</topicName>
      <gaussianNoise>2.89e-08 2.89e-08 2.89e-08</gaussianNoise>
    </plugin>
  </gazebo>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.082244 -1.9129 -0.12297"
        rpy="0 0 0" />
      <mass
        value="30.138" />
      <inertia
        ixx="27.083"
        ixy="1.0611E-17"
        ixz="9.7846E-14"
        iyy="54.161"
        iyz="-6.5403E-17"
        izz="27.083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="imu_joint" type="fixed">
    <axis xyz="1 0 0"/>      
    <origin xyz="0 0 -2" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>
  <link name="imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size=".01 .01 .01"/>
      </geometry>
    </collision>
  </link>
  <link
    name="top_plate">
    <inertial>
      <origin
        xyz="4.5242E-15 0.015 3.321E-14"
        rpy="0 0 0" />
      <mass
        value="96.084" />
      <inertia
        ixx="66.801"
        ixy="1.8649E-16"
        ixz="8.6107E-14"
        iyy="133.59"
        iyz="-1.5823E-17"
        izz="66.801" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/top_plate.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/top_plate.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="top_plate_joint"
    type="fixed">
    <origin
      xyz="0.082244 0.12297 0.10212"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="top_plate" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="suport_engine0">
    <inertial>
      <origin
        xyz="0.75984 0.80542 0.85"
        rpy="0 0 0" />
      <mass
        value="619.74" />
      <inertia
        ixx="527.3"
        ixy="-155.92"
        ixz="3.2685E-13"
        iyy="587.1"
        iyz="8.1002E-13"
        izz="468.53" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="suport_engine0_joint"
    type="fixed">
    <origin
      xyz="-0.1116 -2 -1.5067"
      rpy="0 1.0472 0" />
    <parent
      link="top_plate" />
    <child
      link="suport_engine0" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder00">
    <inertial>
      <origin
        xyz="-0.00011974 0 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="-6.0715E-18"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.794E-18"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder00.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder00.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder00_joint"
    type="fixed">
    <origin
      xyz="1.95 0.4 0.59999999999999"
      rpy="-1.5707963267949 -1.20459198171829E-14 0" />
    <parent
      link="suport_engine0" />
    <child
      link="shoulder00" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow00">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="3.4857E-17"
        ixz="-1.0842E-18"
        iyy="0.00048872"
        iyz="1.1201E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow00_joint"
    type="fixed">
    <origin
      xyz="0.0299999999999998 0 0.301961524227067"
      rpy="1.57079632679489 1.0471975511966 2.20934381900405E-14" />
    <parent
      link="shoulder00" />
    <child
      link="elbow00" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist00">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 6.4721E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="4.5339E-09"
        iyy="0.0011941"
        iyz="-6.1758E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist00_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302756 0"
      rpy="3.14159265358979 5.55111512312578E-17 -9.54791801177635E-15" />
    <parent
      link="elbow00" />
    <child
      link="wrist00" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine00">
    <inertial>
      <origin
        xyz="0.19997 0.87755 -1.1102E-15"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="7.1054E-15"
        iyy="8.198"
        iyz="-3.2885E-13"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine00_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999989 0"
      rpy="-3.14159265358979 5.55111512312578E-17 -1.57079632679492" />
    <parent
      link="wrist00" />
    <child
      link="engine00" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder01">
    <inertial>
      <origin
        xyz="-0.00011974 4.4409E-16 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="-6.0715E-18"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.794E-18"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder01.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder01.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder01_joint"
    type="fixed">
    <origin
      xyz="1.95000000000001 0.399999999999999 1.09999999999999"
      rpy="-1.5707963267949 -1.20459198171829E-14 0" />
    <parent
      link="suport_engine0" />
    <child
      link="shoulder01" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow_01">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="3.1306E-17"
        ixz="4.3368E-19"
        iyy="0.00048872"
        iyz="1.1883E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_01_joint"
    type="fixed">
    <origin
      xyz="0.0299999999999994 0 0.301961524227067"
      rpy="1.57079632679489 1.0471975511966 2.20934381900405E-14" />
    <parent
      link="shoulder01" />
    <child
      link="elbow_01" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist01">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 6.4721E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="4.5339E-09"
        iyy="0.0011941"
        iyz="-6.1758E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist01_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302755 0"
      rpy="3.14159265358979 5.55111512312578E-17 -9.54791801177635E-15" />
    <parent
      link="elbow_01" />
    <child
      link="wrist01" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine01">
    <inertial>
      <origin
        xyz="0.19997 0.87755 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="-7.1054E-15"
        iyy="8.198"
        iyz="-1.6165E-13"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine01_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999988 0"
      rpy="-3.14159265358979 5.55111512312578E-17 -1.57079632679492" />
    <parent
      link="wrist01" />
    <child
      link="engine01" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="suport_engine1">
    <inertial>
      <origin
        xyz="0.75984 0.80542 0.85"
        rpy="0 0 0" />
      <mass
        value="619.74" />
      <inertia
        ixx="527.3"
        ixy="-155.92"
        ixz="-3.9641E-14"
        iyy="587.1"
        iyz="4.0345E-14"
        izz="468.53" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="suport_engine1_joint"
    type="fixed">
    <origin
      xyz="1.2490381056767 -2 -0.849999999999998"
      rpy="0 0 0" />
    <parent
      link="top_plate" />
    <child
      link="suport_engine1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder10">
    <inertial>
      <origin
        xyz="-0.00011974 -5.5511E-17 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="2.1626E-20"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="-1.3043E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder10.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder10.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder10_joint"
    type="fixed">
    <origin
      xyz="1.95 0.399999999999999 0.6"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="suport_engine1" />
    <child
      link="shoulder10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow10">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 5.5511E-17"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="-1.7007E-16"
        ixz="-1.9825E-19"
        iyy="0.00048872"
        iyz="3.3711E-18"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow10_joint"
    type="fixed">
    <origin
      xyz="0.0299999999999998 0 0.301961524227067"
      rpy="1.5707963267949 1.04719755119661 0" />
    <parent
      link="shoulder10" />
    <child
      link="elbow10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist10">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 1.53E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="3.9077E-09"
        iyy="0.0011941"
        iyz="-5.3868E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist10_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302755 0"
      rpy="3.14159265358979 0 9.6034291630076E-15" />
    <parent
      link="elbow10" />
    <child
      link="wrist10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine10">
    <inertial>
      <origin
        xyz="0.19997 0.87755 9.992E-16"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="-8.5265E-16"
        iyy="8.198"
        iyz="7.7686E-14"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine10_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999996 0"
      rpy="3.14159265358979 0 -1.57079632679489" />
    <parent
      link="wrist10" />
    <child
      link="engine10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder11">
    <inertial>
      <origin
        xyz="-0.00011974 -5.5511E-17 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="8.1634E-21"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="-1.4064E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder11_joint"
    type="fixed">
    <origin
      xyz="1.95 0.399999999999999 1.1"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="suport_engine1" />
    <child
      link="shoulder11" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow11">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="-1.7979E-16"
        ixz="-1.0692E-19"
        iyy="0.00048872"
        iyz="7.268E-18"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow11_joint"
    type="fixed">
    <origin
      xyz="0.0300000000000002 0 0.301961524227067"
      rpy="1.5707963267949 1.04719755119661 0" />
    <parent
      link="shoulder11" />
    <child
      link="elbow11" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist11">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 1.53E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="3.9077E-09"
        iyy="0.0011941"
        iyz="-5.3868E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist11_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302754 0"
      rpy="3.14159265358979 0 9.6034291630076E-15" />
    <parent
      link="elbow11" />
    <child
      link="wrist11" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine11">
    <inertial>
      <origin
        xyz="0.19997 0.87755 5.5511E-16"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="-8.0704E-16"
        iyy="8.198"
        iyz="2.1811E-14"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine11_joint"
    type="fixed">
    <origin
      xyz="1.68 0.215000000000003 0"
      rpy="3.14159265358979 0 -1.57079632679489" />
    <parent
      link="wrist11" />
    <child
      link="engine11" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="suport_engine2">
    <inertial>
      <origin
        xyz="0.75984 0.80542 0.85"
        rpy="0 0 0" />
      <mass
        value="619.74" />
      <inertia
        ixx="527.3"
        ixy="-155.92"
        ixz="-8.5265E-14"
        iyy="587.1"
        iyz="7.6739E-13"
        izz="468.53" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="suport_engine2_joint"
    type="fixed">
    <origin
      xyz="0.111602540378529 -2 1.50669872981077"
      rpy="3.14159265358979 -1.04719755119662 3.14159265358979" />
    <parent
      link="top_plate" />
    <child
      link="suport_engine2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder20">
    <inertial>
      <origin
        xyz="-0.00011974 0 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="8.6736E-19"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.6272E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder20.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder20.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder20_joint"
    type="fixed">
    <origin
      xyz="1.95 0.399999999999999 0.59999999999999"
      rpy="-1.5707963267949 -1.20459198171829E-14 0" />
    <parent
      link="suport_engine2" />
    <child
      link="shoulder20" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow20">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="2.4484E-16"
        ixz="6.5052E-19"
        iyy="0.00048872"
        iyz="1.0803E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow20_joint"
    type="fixed">
    <origin
      xyz="0.203205080756887 0 0.401961524227066"
      rpy="-1.5707963267949 1.04719755119661 2.20934381900412E-14" />
    <parent
      link="shoulder20" />
    <child
      link="elbow20" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist20">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 6.4721E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="4.5339E-09"
        iyy="0.0011941"
        iyz="-6.1758E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist20_joint"
    type="fixed">
    <origin
      xyz="0 -0.269282032302755 0"
      rpy="-5.55111512312578E-17 -5.55111512312578E-17 -9.6034291630076E-15" />
    <parent
      link="elbow20" />
    <child
      link="wrist20" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine20">
    <inertial>
      <origin
        xyz="0.19997 0.87755 -2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="3.5527E-15"
        iyy="8.198"
        iyz="-1.9973E-13"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine20_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999989 0"
      rpy="-3.14159265358979 5.55111512312578E-17 -1.57079632679492" />
    <parent
      link="wrist20" />
    <child
      link="engine20" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder21">
    <inertial>
      <origin
        xyz="-0.43653 -0.5 -0.47943"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="-1.7347E-18"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.9932E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder21.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder21.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder21_joint"
    type="fixed">
    <origin
      xyz="2.38641016151378 0.936602540378443 0.599999999999988"
      rpy="-1.5707963267949 -1.20459198171829E-14 0" />
    <parent
      link="suport_engine2" />
    <child
      link="shoulder21" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow21">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 -4.4409E-16"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="-2.2958E-17"
        ixz="-2.3852E-18"
        iyy="0.00048872"
        iyz="-1.0099E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow21_joint"
    type="fixed">
    <origin
      xyz="-0.406410161513767 -0.500000000000006 -0.234641016151378"
      rpy="1.5707963267949 -1.0471975511966 -3.14159265358977" />
    <parent
      link="shoulder21" />
    <child
      link="elbow21" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist21">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 6.4721E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="4.5339E-09"
        iyy="0.0011941"
        iyz="-6.1758E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist21"
    type="fixed">
    <origin
      xyz="0 0.469282032302756 0"
      rpy="0 -5.55111512312578E-17 -3.14159265358978" />
    <parent
      link="elbow21" />
    <child
      link="wrist21" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine21">
    <inertial>
      <origin
        xyz="0.19997 0.87755 -4.4409E-16"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="0"
        iyy="8.198"
        iyz="-2.1372E-13"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine21_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999988 0"
      rpy="-3.14159265358979 5.55111512312578E-17 -1.57079632679492" />
    <parent
      link="wrist21" />
    <child
      link="engine21" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="suport_engine3">
    <inertial>
      <origin
        xyz="0.75984 0.80542 0.85"
        rpy="0 0 0" />
      <mass
        value="619.74" />
      <inertia
        ixx="527.3"
        ixy="-155.92"
        ixz="1.7134E-12"
        iyy="587.1"
        iyz="4.8061E-12"
        izz="468.53" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/suport_engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="suport_engine3_joint"
    type="fixed">
    <origin
      xyz="-1.24903810567659 -2 0.850000000000035"
      rpy="3.14159265358979 0 3.14159265358979" />
    <parent
      link="top_plate" />
    <child
      link="suport_engine3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder30">
    <inertial>
      <origin
        xyz="-0.00011974 5.5511E-17 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="8.1104E-20"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.7313E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder30.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder30.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder30_joint"
    type="fixed">
    <origin
      xyz="1.95000000000002 0.399999999999999 0.599999999999943"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="suport_engine3" />
    <child
      link="shoulder30" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow30">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 2.5535E-15"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="1.7231E-16"
        ixz="-2.406E-18"
        iyy="0.00048872"
        iyz="4.0109E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow30_joint"
    type="fixed">
    <origin
      xyz="0.0299999999999998 0 0.301961524227067"
      rpy="1.5707963267949 -1.04719755119661 3.14159265358979" />
    <parent
      link="shoulder30" />
    <child
      link="elbow30" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist30">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 1.53E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="3.9077E-09"
        iyy="0.0011941"
        iyz="-5.3868E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist30_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302755 0"
      rpy="0 0 3.14159265358978" />
    <parent
      link="elbow30" />
    <child
      link="wrist30" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine30">
    <inertial>
      <origin
        xyz="0.19997 0.87755 -4.9127E-15"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="-1.0664E-15"
        iyy="8.198"
        iyz="3.3462E-15"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine30_joint"
    type="fixed">
    <origin
      xyz="1.68 0.214999999999997 0"
      rpy="-3.14159265358978 -3.08444613941416E-28 -1.57079632679489" />
    <parent
      link="wrist30" />
    <child
      link="engine30" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder31">
    <inertial>
      <origin
        xyz="-0.00011974 0 0.057176"
        rpy="0 0 0" />
      <mass
        value="5.5908" />
      <inertia
        ixx="0.032507"
        ixy="1.1498E-19"
        ixz="2.7125E-05"
        iyy="0.032508"
        iyz="1.3622E-17"
        izz="0.011867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder31.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/shoulder31.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder31_joint"
    type="fixed">
    <origin
      xyz="1.95000000000003 0.399999999999999 1.09999999999994"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="suport_engine3" />
    <child
      link="shoulder31" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow31">
    <inertial>
      <origin
        xyz="-0.00022355 0.1 2.5535E-15"
        rpy="0 0 0" />
      <mass
        value="1.7984" />
      <inertia
        ixx="0.016031"
        ixy="1.7441E-16"
        ixz="-2.2926E-18"
        iyy="0.00048872"
        iyz="4.0208E-16"
        izz="0.0162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow31_joint"
    type="fixed">
    <origin
      xyz="0.0299999999999994 0 0.301961524227066"
      rpy="1.5707963267949 -1.04719755119661 3.14159265358979" />
    <parent
      link="shoulder31" />
    <child
      link="elbow31" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist31">
    <inertial>
      <origin
        xyz="0.0098378 0.097856 1.53E-08"
        rpy="0 0 0" />
      <mass
        value="1.5572" />
      <inertia
        ixx="0.0083224"
        ixy="-0.0012625"
        ixz="3.9077E-09"
        iyy="0.0011941"
        iyz="-5.3868E-09"
        izz="0.009251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.95686 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/wrist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist31_joint"
    type="fixed">
    <origin
      xyz="0 0.469282032302755 0"
      rpy="0 0 3.14159265358978" />
    <parent
      link="elbow31" />
    <child
      link="wrist31" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="engine31">
    <inertial>
      <origin
        xyz="0.19997 0.87755 -7.605E-15"
        rpy="0 0 0" />
      <mass
        value="446.62" />
      <inertia
        ixx="107.29"
        ixy="0.0059864"
        ixz="-3.4242E-16"
        iyy="8.198"
        iyz="-2.6136E-13"
        izz="107.29" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://msl_skycrane_description/meshes/engine.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="engine31_joint"
    type="fixed">
    <origin
      xyz="1.68 0.215 0"
      rpy="-3.1416 -3.7076E-28 -1.5708" />
    <parent
      link="wrist31" />
    <child
      link="engine31" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
